apiVersion: argoproj.io/v1beta1
kind: ArgoCD
metadata:
  name: openshift-gitops
  namespace: openshift-gitops
spec:
  repo:
    # Remove all CMP sidecar volumes
    volumes: []

    # Remove all sidecar containers (including manifest-validator)
    sidecarContainers: []
